@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
* {
 margin: 0;
 padding: 0;
}

body {
	background: black;
}

nav {
	padding-bottom: 2vw;
	background: transparent;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.activepage {
	opacity: 0.6;
}
a {
	font-family: Arial, Tahoma, Serif;
	color: #ffffff;
	padding-left: 3vw;
	text-decoration: none;
	line-height: 1.3;
}
h3 {
	font-family: Arial, Tahoma, Serif;
	color: #ffffff;
	text-decoration: none;
	padding-left: 3vw;
	font-size:0.8vw;
	opacity: 0.6;
}

h2 {
	padding-top: 0.8vw;
	padding-left: 0.8vw;
	padding-bottom: 1.8vw;
	font-family: Arial, Tahoma, Serif;
	color: #ffffff;
}

.nav1 {
	justify-content: space-around;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

hr {
	border:0.3px solid white;
	opacity: 0.6;
	position: fixed;
	top: 8vw;
	width: 100%;
	z-index: 10;
}





/* DEFAULTS */
/* ========================================================================== */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide scrollbars */

  min-height: 100vh;
  margin: 0;

/*   background: hsl(0 0% 98%); */
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;
}

p {
	font-family: Arial, Tahoma, Serif;
	color: white;
	font-size:0.8vw;
	left:0;
	display: flex;

}


/* C */
/* ========================================================================== */
.c {
  min-width: 100vw;
  width: 100vw;
  height: 50vw;
  border-radius: 12px;
  padding: 10px;
  padding-bottom: 20px;
  box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;
  left: 0vw;
  top: 0vw;
  overflow: hidden;
  background: hsl(0 0% 90%);

  box-sizing: border-box;

}

.ci {
  position: absolute;
  top: 0;
  left: 0;

  width: inherit;
  height: inherit;
  transform-origin: left 50%;

  background: inherit;

  z-index: var(--z);
  transition: .3s ease-out;
}

.ci img {
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

.ch {
  position: absolute;
  top: 28%;
  left: 40%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: White;
}
.ch1 {
  position: absolute;
  top: 32%;
  left: 45%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: white;
    opacity: 0.8;
}
.ch2 {
  position: absolute;
  top: 48%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}

.ch3 {
  position: absolute;
  top: 55%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
    opacity: 0.8;
}
.ch4 {
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;

}
.ch5 {
  position: absolute;
  top: 78%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
    opacity: 0.8;
}
.ch6 {
  position: absolute;
  top: 48%;
  left: 64%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}
.ch7 {
  position: absolute;
  top: 61%;
  left: 65%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
  line-height: 1.1vw;
    opacity: 0.8;
}
.ab {
  position: absolute;
  top: 28%;
  left: 13%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: White;
}
.ab1 {
  position: absolute;
  top: 36%;
  left: 13%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
   font-family: Arial, Tahoma, Serif;
    opacity: 0.8;
}
.ab2 {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}

.ab3 {
  position: absolute;
  top: 57%;
  left: 15%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
   font-family: Arial, Tahoma, Serif;
    opacity: 0.8;
}
.ab4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}

.ab5 {
  position: absolute;
  top: 59%;
  left: 51%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
  line-height:1vw;
    opacity: 0.8;
}
.ab6 {
  position: absolute;
  top: 72%;
  left: 15%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}


.ab7 {
  position: absolute;
  top: 81%;
  left: 16%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
   line-height: 1vw;
    opacity: 0.8;
}

.ab8 {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}

.ab9 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
    opacity: 0.8;

}
.wh {
  position: absolute;
  top: 28%;
  left: 12%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: White;
}
.wh1 {
  position: absolute;
  top: 36%;
  left: 12%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
    opacity: 0.8;
}
.wh2 {
  position: absolute;
  top: 71%;
  left: 29%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
}
.wh3 {
  position: absolute;
  top: 71%;
  left: 42.7%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
}
.wh4 {
  position: absolute;
  top:71%;
  left: 55.5%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
}
.wh5 {
  position: absolute;
  top: 71%;
  left: 67%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
}
.border {
	position: absolute;
	top: 80%;
	left: 80%;
	border: 1px solid yellow;
}
.wh6 {
  font-size: 0.8rem;
  color: white;
    padding: 1vw;
  font-family: Arial, Tahoma, Serif;
}
.wh7 {
  font-size: 0.8rem;
  color: yellow;
  padding: 0.5vw
}
.wh7 a {
  color: yellow;
}
.yh1 {
  position: absolute;
  top: 61%;
  left: 16%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
   line-height: 1.1vw;
    opacity: 0.8;
}
.yh2 {
  position: absolute;
  top: 82%;
  left: 16%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
   line-height: 1.1vw;
     opacity: 0.8;
}
.yh3 {
  position: absolute;
  top: 61%;
  left: 56%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: white;
  font-family: Arial, Tahoma, Serif;
   line-height: 1.1vw;
    opacity: 0.8;
}
.yh4 {
  position: absolute;
  top: 74%;
  left: 15%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}
.yh5 {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  font-size: 1.3rem;
  color: White;
}


input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -10;
}

label {
  width: 10%;
  height: 10px;
  margin-right: 4px;
  border-radius: 20px;

  background: hsla(0 0% 90% / .3);
  cursor: pointer;

  position: relative;
    bottom:2vw;
  z-index: 10;
}

label:last-child {
  margin-right: 0;
}

input:checked+label {
  background: linear-gradient(to right,
    hsla(var(--hue) 80% 70% / .7),
    hsla(calc(var(--hue) + 30) 80% 50% / .7));
}

input:not(:checked)+label+.ci {
  transform: translateX(-100%);
  opacity: 0;
}

input:checked+label+.ci~.ci {
  transform: translateX(100%);
}

input:not(:checked)+label+.ci {
/*   transition: 0; */
}


