/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*navbar text styling*/
li,a,h3,h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.8vw;
  color: white;
  text-decoration: none;
}
/*entire nav div*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76876f;
  height: 2vw;
  width: 99;
  border-style: solid;
  border-width: 0.15vw;
  border-color:#edd443;
}
/*left aligned text nav*/
h3 {
  padding-left: 0.5vw;
}
/*triangles above link pages*/
.nav__links li a:hover:after {
  border-left: solid transparent 0.521vw;
  border-right: solid transparent 0.521vw;
  border-top: solid #edd443 0.521vw;
  position: absolute;
  top: -0.575vw;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -0.677vw;
  width: 0;
  box-sizing: content-box;
}
/*nav links*/
.nav__links {
  list-style: none;
}
/*nav links*/
.nav__links li {
  display: inline-block;
  padding: 0vw 1.042vw;
  position: relative;
  left: -8vw;
}
/*nav links hover*/
.activepage {
  color: #edd443;
}
/*header gif*/
img.gif {
  width: 99.1vw;
}
/*header gif centering*/
.image-container {
  position: relative;
  display: inline-block;
}
/*header gif centering*/
.image-container img {
  display: block;
  width: 100%;
  height: auto;
}
/*header gif overlay*/
.overlay-text {
  position: absolute;
  top: 50%; 
  left: 49%; 
  transform: translate(-50%, -50%);   
  padding: 0.521vw 1.042vw; 
  font-size: 2.3vw; 
  text-align: center;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/*header gif overlay vertical line*/
.vl {
  border-left: 0.313vw solid #EDD443;
  height: 1.8vw;
  padding-bottom:1.1vw;
  padding-left:0.7vw;
}

/* text syling for subtitle */
h1 {
  text-align: center;
  font-size: 1.2vw;
  padding-top: 3vw;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2e2e2e;
  text-decoration: none;
}
/* text desgin for text above images*/
h2 {
  text-align: center;
  font-size: 1vw;
  padding-bottom: 1vw;
  padding-top: 4vw;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2e2e2e;
  text-decoration: none;
}
/* styling the entire body (everthing past the header)*/
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
/*   background-color: #f5f5f5; */
}
body::-webkit-scrollbar{
	display:none;
}
/* extra sizing for gif */
header.img {
  height: 15vw;
  width: 100vw;
}
#subtitle {
  height: 5vw;
}
#plants {
  float: left;
  height: 17vw;
/*   padding-bottom: 0.5vw; */
  padding-left:26.6vw;
  padding-right:15.4vw;
}
#animals {
  float: left;
  height: 17vw;
  /* padding-bottom: 0.1vw; */
  padding-right:10vw;
}
#guardian {
  float: left;
  height: 17vw;
  width: 100vw;
  padding-bottom: 7vw;
}
/* centering for plants clickable image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 13vw;
}
/* centering for animals clickable image */
.centerfish {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 13vw;
}
/* centering for become a guardian clickable image */
.guardian {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 8vw;
}
.guardian h2 {
  padding-right: 10vw;
}
h6 {
  text-align: center;
  font-size: 0.8vw;
  padding-bottom: 1vw;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #2e2e2e;
  text-decoration: none;
}

.center:hover {
  animation: shake 1.2s;
  animation-iteration-count: infinite;
}
.centerfish:hover {
  animation: shake 1.2s;
  animation-iteration-count: infinite;
}
.guardian:hover {
  animation: shake 1.2s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

